<!DOCTYPE html>
<html>

<body>
Votre annonce a bien été créée!<br />
<br />
Afin de valider votre adresse mail, veuillez cliquer sur le lien suivant:<br />
<a href="{{ lien }}">Cliquez ici!</a><br />
<br />
<br />
Votre annonce sera examinée rapidement, un mail vous préviendra de son activation.<br />
<br />
L'équipe moto échange<br />

</body>
</html>